
@media  (min-width: 1200px){
    .nav-bar{
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        padding: 10px 0;
    }
    .nav-items ul {
       display: flex; 
       }
       .nav-items a {
        padding: 10px ;
    }

    
}
/* ------------------------------------------------------------------------------------ */
@media (min-width:960px) {
   
    
    .img-header{
        width: 40%;
       
    }
    .img-header img{
        width: 80%;
        padding-left: 30px;
        
       
    }
    .content-header{
        width: 40%;        
       
    }
    .content-header h2{
        text-align: left;
        
    }
    .content-header p{
        text-align: left;
        
    }
    .content-header .button-header{
        justify-content:flex-start ;
    }
    
    .header{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        height: 100vh;
    }
    .content-header .button-header  .book-but{
        border-radius: 0px 100vh 100vh;

    }
    
}

@media (min-width:770px)  {


    
   .chefs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}    

.chefs .card {
    width: 45%;
}

.container-sec3{
    margin: 20px;
    padding: 20px;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0 4px;
    width: 100%;
    
  }
 
 

  

  .column {
    flex: 40%;
    padding: 0 4px;
  }
  


  .details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .details .address{
width: 45%; 
 }
  .details .email{
width: 45%; 
 }
  .details .phone{
width: 45%; 
 }
  .details .openning-hours{
width: 45%; 
 }
  form .input-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

   .container-footer{
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    justify-content: space-around;
    margin:0 50px;
    padding: 40px 5px;
    width: 80%;
  }
   .container-footer .about-footer {
    width: 40%;
    order: 1;

  }
    .container-footer .subscription{
    order: 2;
    width: 100%;
  }
   .subscription .subscription-group input{
    width: 60%;
}
   .subscription .subscription-group button{
    width: 20%;
}
   .container-footer .contact-details{
    order: 1;
    width: 50%;
  }
    
}



@media (min-width:990px)  {
    .chefs{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    
    }  
   
    .chefs .card {
        width: 25%;
    }

    
.row {
    display: flex;
    flex-direction: row;
flex-wrap: wrap; 
   gap: 10px;
    padding: 0 4px;
  }
 .row .order3{
    order:6;
 }
 .row .order2{
    order: 0;
 }
 .row .order1{
    order: 4;
 }
 

  .column {
    flex: 30%;
    width: 25%;
    padding: 0 4px;
  }



  

  .container-footer{
    display: flex;
    margin: 5px auto;
    justify-content: space-between;
    width: 90%;
    padding: 10px;

  }
  .container-footer .about-footer {
    width: 20%;

  }
    .container-footer .subscription{
    width: 50%;
  }
   .subscription .subscription-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

   .container-footer .contact-details{
    width: 20%;
    order: 3;
  }
  

}






